// sidebar

$pMain: #7559ff;
$pPink: #d54bd8;
$pDanger: #e02727;
$pBlue: #5298e8;
$pGreen: #1bdf2f;

$menuText: #606266;
$menuActiveText: $pMain;
$subMenuActiveText: $pPink; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff;
$menuHover: transparent;
$menuHoverText: #000;

$subMenuBg: transparent;
$subMenuHover: #f4f4f5;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}


// 紫色环境的变量

// $pMain: #7559ff;
// $pPink: #d54bd8;
// $pDanger: #e02727;
// $pBlue: #5298e8;
// $pGreen: #1bdf2f;