// wink 相关的通用样式
.wink-form-item {
  width: 200px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}


// 窄 table 样式
.wink-table-narrow {

  .el-table__header tr,
  .el-table__header th {
    padding: 0 !important;
    height: 40px !important;
  }

  .el-table__body tr,
  .el-table__body td {
    padding: 0 !important;
    height: 40px !important;

    .cell {
      padding: 0 10px !important;
      line-height: normal;
    }
  }
}